{% extends 'base.html' %}
{% block page_title %}
    Feedback Detail
{% endblock %}
{% block content %}
    <div>
        <h4>Feedback from {{ feedback.email }}</h4>
        <h5>Name : {{ feedback.user_name }}</h5>
        <p>{{ feedback.comment }}</p>
    </div>
    <form action="{% url 'reviews:session-fav-feedback' feedback.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary">Mark as session favourite</button>
    </form>
    <hr>
    <div>
        <a class="btn btn-success" href="{% url 'reviews:list-feedbacks' %}">Show All feedbacks</a>
    </div>

{% endblock %}